.right{
    /* border: 2px solid red; */
    background-color: #121212;
    border-radius: 15px;
    height: 580px;
    width: 70vw;
    margin: 10px 20px 10px 0px;
    /* margin-right: 20px; */
    overflow-y: auto;
    scrollbar-color: #121212 #121212;
    scroll-behavior: smooth;
}

.right:hover{
    scrollbar-color: rgb(55, 55, 55) #121212;
}

.progress{
    display: flex;
    justify-content: space-around;
}

.tagimg img{
    height: 250px;
}

.badge{
    margin-top: 20px;
    background-color: rgb(45, 45, 45);
    /* border: 2px solid red; */
    width: 300px;
    height: 200px;
    border-radius: 35px;
    box-shadow: 0 6px 11px 3px #00000033;
    /* background-image: linear-gradient(to bottom, yellow, orange); */
}

.badge h2{
    padding: 20px 0px 0px 20px;
}

.badge span{
    padding: 0px 0px 0px 40px;
    font-weight: bold;
    font-size: 120px;
}

.explore .h{
    margin: 50px 0px 10px 30px;
}

.explore .separation2{
    background-color: rgb(87, 87, 87);
    height: 1px;
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
    /* margin: 15px 25px 0px 25px; */
    /* margin-left: 25px; */
}